.card_box {
  display: flex;
  gap: 20px;
  margin-bottom: 50%;
}

.another_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  background: blue;
  flex: 1;
}

.another_card:first-child {
  flex: 2;
}

.another_card:last-child {
  flex: 1;
}

.card_text {
  max-width: 50%;
}

.card_image img {
  width: 200px;
  height: auto;
}

.card_text h3 {
  margin-bottom: 10px;
}

.card_text p {
  margin-bottom: 15px;
  font-size: 14px;
  /* line-height: 1.5; */
}

