.cards_container{
    width: 100%;
    
}

.cards_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
}
@media (max-width: 768px) {
  .cards_wrapper {
    grid-template-columns: repeat(2, 1fr); 
  }
}


.card_card img{
    width: 70%;

}