.footer_section{
    width: 100%;
    color:white;
}

.footer_backdrop {
    background-color:red;
    padding: 100px 6% ;
}

.footer_container {
    max-width: 600px;
    margin-bottom: 100px;
}

.footer_container h1 {
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 40px;
}

@media(max-width:768px){
    .footer_container h1{
        font-size: 25px;
        align-items: flex-start;
    }
}

.get_started_footer{
    background-color:white;
    color: #151b26;
    padding: 16px 32px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.footer_disclaimer {
    font-size: 12px;
    margin-top: 80px;
}

.footer_links_grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-top: 1px solid hotpink;
    padding-top: 60px;
}
@media(max-width: 768px) {
    .footer_links_grid {
        /* display: grid; */
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
}

.footer_logo img {
    width: 60px;
}

.footer_column h3 {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 600;
}

.footer_column ul {
    list-style: none;
    padding: 0;
}

.footer_column li {
    font-size: 14px;
    margin-bottom: 12px;
}

.footer_bottom {
    background-color: #a8256d;
    padding: 30px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

@media (max-width: 768px) {
    .footer_bottom {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}

.footer_apps img {
    height: 35px;
    margin-left: 15px;
    cursor: pointer;
}

  