
.header{
    background-color: white;
}

.site_wrapper{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header_container{
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:768px) {
    .header_container{ 
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
    }
}

.header_left{
    display: flex;
    align-items:center ;
    height: 100%;
}

.logo{
    width: 100px;
    height: 45px;
}

.nav_links ul{
    display: flex;
    gap: 20px; 
    list-style: none;
    align-items:center;
}
@media(max-width:768px) {
    .nav_links{
        display: none;
    }   
}
li:hover{
    color: gray;
}

.header_actions{
  display: flex;
  align-items: center;
  gap: 15px;
}

.header_right{
    display: flex;
    align-items:center ;
    gap: 20px;
    height: 100%;
}
@media(max-width:768px){
    .header_right{
        display: none;
    }
}

.header_icon{
    width: 15px;
    height: 15px;
    cursor: pointer;
    
}
 .nav_links >ul, 
 .header_right > ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.get_started {
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.get_started:hover{
    background-color:gray;
}

.mobile{
    display: none;
}
@media(max-width:768px){
    .mobile{
        display: block;
    }
    
}




